.create-test-container {
    overflow-y: auto;
    max-height: 93vh;
    width: 100%;
    padding: 0 20px;
}

.add-answer-btn,
.add-question-btn {
    background-color: #008CBA;
    color: white;
    display: block;
    margin: 0 auto;
}

.remove-question-btn {
    display: block;
    margin: 0 auto;
    margin-top: 1%;
}

.add-answer-btn {
    margin-top: 1%;
}

.add-question-btn:hover,
.add-answer-btn:hover {
    background-color: #008CBA;
    color: white;
}

.sticky-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    gap: 70%;

}

.sticky-button {
    margin: 0 auto;
    display: block;
}

.title-input {
    margin-top: 20px;
}

.toggle-icon {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.collapsed {
    transform: rotate(-90deg);
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.remove-section-btn {
    font-size: 20px;
    color: #dc3545;
    background: none;
    border: none;
    cursor: pointer;
}

.remove-section-btn:hover {
    opacity: 0.8;
    color: #dc3545;
}

.section-header h3 {
    margin: 0;
    flex-grow: 1;
}

.section-counts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-counts .count-input {
    width: 60px;
    padding: 4px 8px;
}

.section-counts span {
    white-space: nowrap;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1001;
}

.settings-icon {
    font-size: 30px;
    color: #007bff;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.points-input {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50px;
}

.points-control {
    width: 50px;
    margin-top: 13%;
    height: 35px;
    text-align: center;
}

.settings-dialog .form-group {
    margin-bottom: 1.5rem;
}

.settings-dialog .form-control, .settings-dialog {
    padding: 6px 12px;
}

.settings-dialog .form-check-input {
    width: 25px;
    margin-right: 10px;
}

.form-check-input {
    height: 25px;
}

.form-check-label {
    margin-top: 2%;
}
