.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 10px 20px;
  color: var(--text-color);
}

.navbar-logo {
  /* Add your logo styling here */
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.navbar-links .ul{
    height: 100%;
    text-align: center;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
}

.navbar-auth .btn {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-auth .btn:hover {
    color: lightgray;
}