.btn-back {
    background-color: rgb(141, 135, 135);
}

.btn-back:hover {
    background-color: rgb(110, 107, 107);
}

.btn-save {
    margin-bottom: 3px;
}

.points-input {
    padding-left: 10px;
    width: 40px;
    text-align: center;
    margin-left: 10px;
}

.input-label {
    display: flex;
    align-items: center;
}
